<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Movies List</title>
    <style>
        @import url('https://fonts.cdnfonts.com/css/star-wars');

        body {
            font-family: 'Star Wars', sans-serif;
            background-color: #000;
            color: #fff;
            text-align: center;
        }

        h1 {
            color: #ffd700; /* Gold */
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ffd700;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 20px auto;
        }

        .movies-container {
            margin-top: 20px;
        }

        .no-movies img {
            width: 50%;
            margin-top: 50px;
        }
    </style>
</head>
<body>
{% if movies %}
<div class="movies-container">
    <h1>Star Wars Movies List</h1>
    <table>
        <thead>
        <tr>
            <th>Episode</th>
            <th>Title</th>
            <th>Synopsis</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.episode }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.synopsis }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <img src="https://media.giphy.com/media/xTiIzJSKB4l7xTouE8/giphy.gif" alt="Star Wars GIF"/>
    <audio src="../static/theme.mp3" controls autoplay></audio>
</div>
{% else %}
<div class="no-movies">
    <img src="https://media.giphy.com/media/YqE3jbSQQR6x9g19Kj/giphy.gif" alt="No Movies GIF"/>
</div>
{% endif %}
</body>
</html>
